@model string;
@*
   
*@
@{
    <p>@Model</p>
    <div>
        <form asp-controller="Authentication" asp-action="ForgotPassword" method="post" enctype="multipart/form-data">

            <div>
                <label>Email</label>
                <input type="email" name="email"></input>               
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
}
