@model MedicalEquipmentWeb.ViewModels.ResetPassword;
@*
   
*@
@{
    <p>@ViewBag.Error</p>
    <div>
        <form asp-controller="Authentication" asp-action="ResetPassword" method="post" enctype="multipart/form-data">

            <div>
                <label>New Password</label>
                <input type="password" name="NewPassword"/>
                <span asp-validation-for="NewPassword"></span>
            </div>
            <div>
                <label>Confirm Password</label>
                <input type="password" name="ConfirmPassword"/>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <input type="hidden" asp-for="Token" value="@ViewBag.Token" />
            <input type="hidden" asp-for="Email" value="@ViewBag.Email" />
            <button type="submit">Submit</button>
        </form>
    </div>

}
